@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #2d3436;
  font-family: "Press Start 2P";
}
header {
  position: relative;
  height: 300px;
  border-bottom: 7px solid #eee;
}
h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
}
.aralik {
  position: absolute;
  right: 15px;
  top: 20px;
}
.tekrar {
}
.btn {
  top: 15px;
  left: 15px;
  font-size: 30px;
  font-family: inherit;
  /* buton disindakiler atanan font 
  family den butonlar da faydalanmasi icin verilen kavram */
  padding: 20px 25px;
  cursor: pointer;
  background-color: #eee;
}
.question {
  position: absolute;
  left: 50%;
  width: 180px;
  background-color: #eee;
  color: #333;
  bottom: 0;
  font-size: 30px;
  text-align: center;
  padding: 25px;
  transform: translate(-50%, 50%);
}
